@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Space+Grotesk:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply bg-glass backdrop-blur-xl border border-glass-border shadow-2xl;
  }
}

/* Hide default cursor to replace with our custom one */
@media (pointer: fine) {
  body {
    cursor: none;
  }
  a, button {
    cursor: none;
  }
}

html, body {
  @apply bg-dark text-gray-100 antialiased;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}